
{% extends 'sc/scbase.html' %}
{% block content %}

<div class="bs-docs-example">
    <table class="table">
        <thead>
            <tr>
                
                <th>Company</th>
                <th>Booking Date</th>
                
                <th>problem</th>
                <th>Customer</th>
                <th>email</th>
                <th>phoneno</th>
                <th>assign</th>
                
                         </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <td>
                    {{i.1}}
                </td>


                <td>
                    {{i.2}}
                </td>

               
                <td>
                    {{i.3}}
                </td>
                <td>
                    {{i.10}}
                </td>
                <td>
                    {{i.11}}
                </td>
                <td>
                    {{i.13}}
                </td>
                
              
                <td>
                    {{i.4}}
                </td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>





{% endblock %}